/**
 * Created by zhanglei on 2017/3/16.
 */
#editor-toolbar{position: relative;
  border-top: 1px solid #cbcbcb;
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  padding: 6px 10px;
  margin: 0 -35px;
  background: #f8f8f8;
  button{    margin-right: 10px;
    padding: 0 3px;border:1px solid #C5C5C5;
    outline: none;
    width: 30px;
    height: 30px;
    background: #fff;cursor: pointer;
    border-radius: 3px;}
  #male{width:0;overflow:hidden;height:0}
  button:hover{
    color:#fff;background: rgb(245, 192, 226);transition:  all 0.4s ease-in-out;
  }
  button:nth-child(1){i{font-size:16px}}
  button:nth-child(2){i{font-size:12px}}
  button:nth-child(3){i{font-size:12px}}
  button:nth-child(4){i{font-size:12px}}
  label{
    i{margin-top: 6px;}
    span{    padding: 0 3px;
      border: 1px solid #C5C5C5;
      outline: none;
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 3px;
      display: inline-block;
      text-align: center;}}
  label:hover{cursor: pointer;color:#fff;span{background:rgb(245, 192, 226)}}
}
.color-content{
  display: inline-block;
  position: relative;
  .color-main{position: absolute;z-index: 2;
    top: 32px;
    left: 0;
    border: 1px solid #8ACAF7;
    width: 176px;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #eee;
    ul{width:104%;
      li{float:left;margin-right:4px;
        button{width:20px !important;height:20px !important;border: 1px solid #eee;margin-right: 0 !important;}
      }
    }

  }
}
.pointerEvent{pointer-events: none;color:#eee}
.pointerEvent1{pointer-events: auto;color:#7D7D7D}
.edit-ul{list-style: none !important;
  li{float:left;min-width: 100px;border:1px solid #a8a8a8;list-style: none !important;min-height: 38px;margin-bottom: 1px;}
}
.ql-editor ul > li::before{
  content:none !important;
}
.editor-full{
    #editor-toolbar{position:relative;
       margin:0;
      label:before{content:none}
      button:nth-child(1) i {
        font-size: 17px;
      }
    }
    .inputText{
      position:relative;
      overflow:auto;
      border:1px solid #bbb;
    }
}